<div xmlns:th="http://www.thymeleaf.org" class="row js-devices-container">
    <th:block th:if="${devices.isEmpty()}">
        <div class="card js-no-devices">
            <div class="d-flex justify-content-between card-header card-header-primary">
                <div>
                    <h4 class="card-title">No devices found</h4>
                </div>
            </div>
            <div class="card-body">
                <p>No devices were set up for the current user</p>
            </div>
        </div>
    </th:block>
    <th:block th:each="device : ${devices}">
        <div th:replace="@{fragments/dashboard/blocks/device-overview}"></div>
    </th:block>
</div>